rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // ログイン済みユーザーのみアクセス可能
    function isSignedIn() {
      return request.auth.uid != null;
    }

    // ジョハリの窓は、アサインされている人のみアクセスできる
    match /johariWindowList/{document=**} {
      allow read, write: if isSignedIn() && request.auth.token.email in resource.data.users.authorizationList;
    }
  }
}
